# any files holding private info to source should be stored in ./secrets
*secrets/*

# the go-buffer is useful inside ~/bin, but should be managed seperately
*go-buffer*
*go*

# logs are host specific
*logs/*

# virtualenvs
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
pyenv.cfg
.venv
pip-selfcheck.json

# editors
*.swp

# OS junk
*.DS_*

